.roundedBorder{
    border: 1px solid rgba(0,0,0, 1);
    background-color: rgba(255,255,255, 1);
    border-radius: 10px;
    box-shadow: 4px 4px 4px #444;
}

#controlPanel{
  position:absolute;
  background-color: rgba(200,200,200, 0.95);
  left:1px;
  top:10px;
}

#networkPanel{
  position:absolute;
  background-color: rgba(240,240,240, 0.95);
  left:1px;
  top:450px;
}


#button1{
  position:absolute;
  left:14px;
  top:5px;
  order: 1px solid rgba(0,0,0, 1);
  background-color: rgba(255,255,255, 1);
  border-radius: 1px;
  box-shadow: 1px 1px 1px #444;
}

.linkArc {
  fill: none;
  stroke: #000;
}

.node circle {
  fill: #ccc;
  stroke: #000;
}

.node text {
  display: none;
  font: 10px sans-serif;
}

.node:hover circle {
  fill: #000;
}

.node:hover text {
  display: inline;
}

<!-- WebCola ------ -->



<!-- For the slider -->

.slider .handle {
  fill: #666;
  stroke: #000;
  stroke-opacity: .25;
  stroke-width: 1px;
  cursor: crosshair;
}


h3 {
  color: #1ABC9C;
  text-align:center;
  font-style: italic;
  font-size: 14px;
  font-family: "Helvetica";
}

/* tooltip */
.d3-tip {
  line-height: 1;
  padding: 5px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 8px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}


body {
    font: 12px sans-serif;
}

.axis path,
.axis line,
.axis1 path,
.axis1 line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path, .x.axis1 path {
  stroke: #000;
}

.axis {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.axis .domain {
  fill: none;
  stroke: #000;
  stroke-opacity: .5;
  stroke-width: 1px;
  stroke-linecap: round;
}

.axis .halo {
  fill: none;
  stroke: #ddd;
  stroke-width: 3px;
  stroke-linecap: round;
}
